{% extends 'base.html.twig' %}

{% block title %}Aujouter un projet{% endblock %}

{% block body %}
    <h1 class="text-center m-3 p-3">Ajouter un nouveau projet</h1>
    <div class="m-3">
        {{ include('project/_form.html.twig') }}
    </div>

{% endblock %}
