{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <h1 class="text-center m-3 p-3">Contactez-moi</h1>

    <div class="m-3">{{ include('mail/_form.html.twig') }}</div>


{% endblock %}
